<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Edit <%= resource_name.to_s.humanize %></h4>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
        <div class="card-body">
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            <% if @minimum_password_length %>
                <br/>
                <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>

        <div class="card-footer">
          <%= f.submit "Update", class: 'btn btn-primary' %>
          <%= link_to "Back", :back, class: 'btn btn-secondary' %>
        </div>
    <% end %>
  </div>
  <div class="card mt-5 mb-5">
    <div class="card-header">
      <h4 class="card-title">Cancel my account</h4>
    </div>
    <div class="card-body">
      <p>We are sad to see you go. But if you are unhappy with our services, we won't stand in your way. But if you can,
        please give us some feedback on what drive you away from us?</p>
    </div>
    <div class="card-footer">
      <small>We hope you changed your mind?</small>
      <%= link_to "Cancel", :back, class: 'btn btn-secondary' %>
      <%= link_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: 'btn btn-danger float-right' %>
    </div>
  </div>
</div>
