<%= form_for article do |f| %>
    <% if article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: :name %>
    </div>
    <div>
      <%= f.label :excerpt %>
      <%= f.text_area :excerpt, placeholder: :excerpt, rows: 5 %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.cktext_area :body, placeholder: :body %>
    </div>
    <div>
       <%= f.label :tag_ids %>
       <%= f.select :tag_ids, Tag.all.map{|t| [t.name, t.id]}, class:'select2' %>
    </div>
    <%= f.submit @article.persisted? ? 'Publish Changes' : 'Publish Article' %>
    <%= f.submit 'Save Draft' if !@article.persisted? %>
    <%= link_to 'Cancel', :back %>
<% end %>