<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mt-4"><%= @article.name %></h1>
      <p class="lead">
        by
        <a href="#">@<%= @article.user.username %></a>
      </p>
      <hr>
      <p>Posted on <%= @article.published_at.strftime('%B %d, %Y') %>&nbsp;<%= render @article.tags %>&nbsp;&nbsp;
        <span class="float-right">
          <span class="like"><%= link_to current_user.interactions.where(entity: @article, interaction:'Like').any? ? "<i class='fa fa-thumbs-up' aria-hidden='true'></i> <strong>Liked</strong>".html_safe : "<i class='fa fa-thumbs-o-up' aria-hidden='true'></i> Like".html_safe, interaction_article_path(id: @article.id, interaction: 'Like', format: :js), method: :post, remote: true if current_user.present? %></span>
          <span class="bookmark"><%= link_to current_user.interactions.where(entity: @article, interaction:'Save').any? ? "<i class='fa fa-bookmark' aria-hidden='true'></i> <strong>Bookmarked</strong>".html_safe : "<i class='fa fa-bookmark-o' aria-hidden='true'></i> Read Later".html_safe, interaction_article_path(id: @article.id, interaction: 'Save', format: :js), method: :post, remote: true if current_user.present? %></span>
        </span>
      </p>
      <hr>
      <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
      <hr>
      <div class="article-body">
        <%= raw @article.body %>
      </div>
      <hr>
      <%= render partial:'comments/new_form', locals:{entity:@article} %>
      <div class="comments">
        <%= render @article.comments.where.not(id: nil).order(created_at: :asc) %>
      </div>
    </div>
    <%= render 'layouts/articles_sidebar' %>
  </div>
</div>

<% if current_user.present? && @article.user == current_user %>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Destroy', article_path(@article), method: :delete, 'data-confirm': 'Are you sure?' %>
<% end %>