<div class="col-md-4">
  <div class="card my-4">
    <%= image_tag @author.avatar.url, class:'card-img-top rounded', alt:@author.username %>
    <div class="card-body">
      <h4 class="card-title text-center no-margin"><%= @author.name %></h4>
      <%= link_to 'Edit', edit_author_path(@author.username), class:'btn btn-primary btn-block' if current_user.present? && @author == current_user %>
    </div>
  </div>
  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <% Tag.all.each do |t| %>
              <%= link_to t.name, tag_path(t.name.downcase) %>&nbsp;&nbsp;&nbsp;
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if current_user.present? %>
      <div class="card my-4">
        <h5 class="card-header">Following</h5>
        <div class="card-body no-padding">
          <ul class="list-group">
            <% current_user.followings.each do |f| %>
                <li class="list-group-item row no-margin <%= params[:username] && params[:username] == f.follow.username ? 'active' : nil %>">
                  <%= link_to image_tag(f.follow.avatar.url(:thumb), class: 'rounded-circle')+'  @'+f.follow.username, author_articles_path(f.follow.username) %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>
</div>
